@charset "utf-8";
/* CSS Document */

* {margin:0; padding:0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none;}
body {font-family:Arial, "Microsoft Yahei"; background:#2e134a url(../images/bg.jpg) no-repeat; background-size:100% 100%;}
form, img, table, td{ border:0;}
ul, ol, li { list-style-type:none; display: block;}
h1, h2, h3, h4, h5, h6,i{ font-size:100%; font-weight:normal; font-style:normal;}
input, textarea, img { vertical-align:middle; font-family:Arial, "Microsoft Yahei";}
a{ text-decoration:none; border:0; color:#fff;}
html,body{ height: 100%;}
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.clearfix:after{ clear: both; content: "\200B"; display: block; height: 0;}
.clearfix{ *zoom: 1;}
/* flex */
.flexbox{ display: box; display: -webkit-box; display: -moz-box; display: -ms-box; -webkit-box-orient:horizontal; box-orient:horizontal;}
.flexbox > *{ display: block; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1;}
body:not(:-moz-handler-blocked) .flexbox { width: 100%;} /*for FF*/

.page{ position:relative; width:100%; height:100%;}
.logo{ position:absolute; top:0; left:0; width:100%;}
.logo span{ display:block; margin:0.6rem 0 0 0.45rem; width:5.1rem; height:1rem; background:url(../images/logo.png) no-repeat; background-size:100%;}
.music{ position:absolute; right:0; top:0; margin:1.5rem 0 0 0; width:2.7rem; height:2.15rem; background:url(../images/music_bg.png) no-repeat; background-size:100%;}
.music a{ display:block; width:2.15rem; height:2.15rem; background:url(../images/music.png) no-repeat; background-size:100%;}

.topBox{ position:absolute; top:1.85rem; left:50%; margin-left:-4.125rem; display:block; width:8.25rem; height:3.65rem; background:url(../images/time_round.png) no-repeat; background-size:100%;}
.topBox .time{ margin:0.43rem 0 0 4rem; font-size:0.81rem; font-weight:bold; color:#f5474c;}
.topBox .round{ margin:0.65rem 0 0 1.62rem; width:5rem; height:1.5rem;}
.topBox .round1{ background:url(../images/round1.png) no-repeat; background-size:100%;}/*第一关*/
.topBox .round2{ background:url(../images/round2.png) no-repeat; background-size:100%;}/*第二关*/
.topBox .round3{ background:url(../images/round3.png) no-repeat; background-size:100%;}/*第三关*/

.main{ position:absolute; top:6.2rem; left:50%; margin-left:-7.65rem; width:15.3rem; background:rgba(36,13,60,.27); border-radius:1em; box-shadow:0 0 1.2rem .23rem  rgba(250,238,108,.15);}
.main ul{ margin:0 auto; padding:0.4rem 0 0; width:14.5rem;}
.main li{ float:left; margin:0 0.4rem 0.4rem 0; width:3.3rem; height:3.3rem; background:url(../images/zheng.png) no-repeat; background-size:100%;}
.main li:nth-child(4n){margin-right:0;}
.main li a{ display:block; width:3.3rem; height:3.3rem;}
.main li a.lu{ background:url(../images/img04.png) no-repeat; background-size:100%;}/*小鹿*/
.main li a.shu{ background:url(../images/img01.png) no-repeat; background-size:100%;}/*小树*/
.main li a.wazi{ background:url(../images/img05.png) no-repeat; background-size:100%;}/*袜子*/
.main li a.hezi{ background:url(../images/img06.png) no-repeat; background-size:100%;}/*礼物盒*/
.main li a.ren{ background:url(../images/img02.png) no-repeat; background-size:100%;}/*小人*/
.main li a.ling{ background:url(../images/img03.png) no-repeat; background-size:100%;}/*小铃铛*/
.main li a.fan{ background:url(../images/fan.png) no-repeat; background-size:100%;}/*反面 yf: 一定要在正面的后面*/

/*音乐转圈动画*/
.circle{-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-animation: circle 3s linear both infinite;animation: circle 3s linear both infinite;}
@-webkit-keyframes circle{
	0%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
	100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
 }
@keyframes circle{
	0%{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
	100%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
 }


.flipBack {
    -webkit-animation: flipBack 0.5s;
    -moz-animation: flipBack 0.5s;
    animation: flipBack 0.5s;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

@-webkit-keyframes flipBack {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(90deg);
    }
}

.flipFront {
    -webkit-animation: flipFront 0.5s;
    -moz-animation: flipFront 0.5s;
    animation: flipFront 0.5s;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

@-webkit-keyframes flipFront {
    0% {
        -webkit-transform: rotateY(90deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
    }
}

.level1, .level2 {
    display: none;
}
