*{padding: 0;margin: 0;list-style: none;font-weight: normal;font-style: normal;}
a{text-decoration: none;}
body{position: relative;min-height:29.624rem;box-sizing:border-box;background: url(../staticImages/bg.jpg) no-repeat;background-size:100%;}
.recharge-btn1{top: 7.25rem;left: 3.45rem;position: absolute;width: 9.65rem;height: 2.4rem;background: url(../staticImages/btn1.png) no-repeat;background-size: 100% 100%;}
.cj-box{width: 14.3rem;top: 10.275rem;left: 0.85rem;position: absolute;height: 17.7rem;background:url(../staticImages/cjbg.png) no-repeat;background-size: 100% 100%;}
.surplus-times{top: 0.7625rem;width: 8rem;left: 50%;margin-left: -4rem;margin-top: -0.6375rem;position: absolute;height: 1.275rem;color: #000;font-size: 0.8rem;text-align: center;line-height: 1.275rem;}
.prize-box{box-sizing:border-box;left: 1.26rem;top: 3.29rem;position: absolute;width: 11.75rem;height: 11.75rem;background: url(../staticImages/hbg.png) no-repeat;background-size: 100% 100%;}
.prize-box li{position: absolute;margin: 0 0.125rem 0.125rem 0;float: left;width: 3.7rem;height: 3.7rem;background: #fff;border-radius:0.1rem;}
.pzImg-wrapper{text-align: center;width: 3.25rem;height: 2.75rem;margin: 0.225rem;margin-top: 0.12rem}
.prize-name{bottom: 0;width: 100%;height: 0.85rem;font-size: 0.625rem;line-height: 0.8rem;position: absolute;text-align: center;display: block;}
.pzImg-wrapper img{width: 100%;}
.prize-box li:nth-child(1){top: 0.2rem;left: 0.17rem;}
.prize-box li:nth-child(2){top: 0.2rem;left: 4.025rem;}
.prize-box li:nth-child(3){top: 0.2rem;left: 7.875rem;}
.prize-box li:nth-child(4){top: 4.05rem;left: 0.17rem;}
.prize-box li:nth-child(5){top: 4.05rem;left: 4.025rem;}
.prize-box li:nth-child(6){top: 4.05rem;left: 7.875rem;}
.prize-box li:nth-child(7){top: 7.9rem;left: 0.17rem;}
.prize-box li:nth-child(8){top: 7.9rem;left: 4.025rem;}
.prize-box li:nth-child(9){top: 7.9rem;left: 7.875rem;}
.footer{left: 0.45rem;bottom: 0.2rem;height: 1rem;line-height: 1rem;position: absolute;}
.cj-port{line-height: 1rem;font-size: 0.7rem;color: #000;float: left;}
.rules{line-height: 1.08rem;float: left;float: left;position: ;font-size: 0.825rem;color: #000;}
.obg{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: 0.7;}
.cz-con{left: 50%;top: 50%;margin: -7rem 0 0 -6.2875rem;position: fixed;width: 12.575rem;height: 11.675rem;background: url(../staticImages/pop1.png) no-repeat;background-size: 100% 100%;}
.close{position: absolute;width: 1.35rem;height: 1.35rem;background: url(../staticImages/close.png) no-repeat;background-size: 100% 100%;}
.cl1{left: 11rem;top: 2.1rem;}
.czb{top: 9.1rem;left: 2.3rem;position: absolute;width: 8.05rem;height: 2rem;background: url(../staticImages/btn2.png) no-repeat;background-size: 100% 100%;}
.gz-con{left: 50%;top: 50%;margin: -13rem 0 0 -7.125rem;position: fixed;width: 14.25rem;height: 22.825rem;background: url(../staticImages/pop2.png) no-repeat;background-size: 100% 100%;}
.cl2{position: absolute;top: 1.7rem;right: -0.18rem;}
.text-con{width: 12.85rem;margin-top: 5.3rem;margin-left: 0.9rem;}
.text-con dl{float: left;font-size: 0.5rem;color: #000;line-height: 0.69rem;}
.text-con dt{float: left;}
.text-con dd{float: left;width: 12rem;}
.fk{position: absolute;bottom:1.8rem;text-indent: 0.5rem;}
a{-webkit-tap-highlight-color:rgba(0,0,0,0);outline: none;}
.pop{display: none;}
.zl-con{left: 50%;top: 50%;margin: -7rem 0 0 -6.2875rem;position: fixed;width: 12.575rem;height: 11.675rem;background: url(../staticImages/pop11.png) no-repeat;background-size: 100% 100%;}
.zlb{top: 9.1rem;left: 3.65rem;position: absolute;width: 5.725rem;height: 1.375rem;background: url(../staticImages/btn22.png) no-repeat;background-size: 100% 100%;}
